body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fff;
}
/*------------------------------nav bar --------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fffefe;
}

/* Hamburger Menu Styles */
.menu-icon {
  display: none; /* Hide the hamburger menu by default on larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #e30000;
  margin: 6px 0;
  transition: 0.4s;
}

/* Show the hamburger menu when the screen is small (mobile view) */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navigation {
    display: flex; /* Show the navigation links by default on larger screens */
  }

  /* Hide the navigation links by default on mobile view */
  .navigation:not(.active) li {
    display: none;
  }

  .navigation.active li {
    display: block; /* Show the navigation links when the menu is active */
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    /* Remove the background-color property here */
    position: absolute;
    top: 80px;
    left: 0;
    width: 90%;
    z-index: 1;
    background-color: rgb(0, 0, 0.8);
    opacity: 10px;
   
  }

  /* Change the hamburger icon to a close (X) icon when the menu is active */
  .navigation.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navigation.active .bar:nth-child(2) {
    opacity:0;
  }

  .navigation.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
/* -----------------------------------Navbar Styles */
.navbar {
  
  width: 100%;
  background-color: transparent; /* Set the background to transparent */
  padding: 1rem;
  height: 70px;
  opacity: 10px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #aaa;
}

/*-----------------------------Hero sections-------------------*/
/* Hero Styles */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("assets/cyberpunk-2077-night-city-moewalls-com.mp4");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.hero {
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 100;
}

.video-container {
  opacity: 0.5; /* Adjust the value as per your desired opacity (0.5 means 50% transparency) */
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  animation: typing 5s steps(30), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#typewriter {
  animation: typing 5s 1s infinite;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-cta {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-cta:hover {
  background-color: #ddd;
}

/*-----------------------------more about -----------------------*/
.more-about {
  padding: 4rem 0;
  text-align: center;
}

.more-about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-about-image {
  width: 400px;
  margin-right: 10rem;
  border-radius: 100%;
}

.more-about-image img {
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.more-about-image img:hover {
  opacity: 1;
}

.more-about-content {
  max-width: 700px;
}

.more-about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.more-about-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*----------------------------------skills section----------*/
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/*----------------------------- Projects Styles------------ */
.projects {
  padding: 4rem 0;
  text-align: center;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #000000;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}


/* -----------------------Contact Styles -----------------------*/
.contact {
  padding: 2rem 0;
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-btn {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #ddd;
}

/*-------------------------------- Footer Styles ----------------*/
.footer {
  text-align: center;
  padding: 1rem 0;
}

.footer-text {
  font-size: 1rem;
}

html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.icon-card {
  transition: transform 0.3s ease-in-out;
}

.icon-card:hover {
  transform: scale(1.2);
}

/* Add this CSS for the mobile GIF */
.gif-image {
  display: none; /* Hide the GIF by default */
}

/*---------------------- Small devices (phones) -----------------------*/
@media screen and (max-width: 600px) {

  html,body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black background with 0.8 opacity */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 6rem; /* Add right margin to create space between items */
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .navbar-container {
    flex: 0.7; /* Make the container take up all available space */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items with equal space between them */
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero {
    height: 90vh;
  }

  .more-about-image {
    width: 300px;
    margin-right: 0.4rem;
    border-radius: 100%;
  }
  
  .icon {
    width: 4rem;
    height: 4rem;
  }
  .more-about-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .projects-container {
    flex-direction: column;
    }
  
    .projects-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; 
      margin: 0 -2rem; 
    }
  
    .skills-wrapper {
      flex-direction: column;
    }
 
  .more-about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 0rem;
  }
  
  .more-about-content p {
    font-size: 1rem;
    padding: 19px;
  }
  

  .hero-description {
    font-size: 1.2rem;
    padding:18px;
  }

  .logo {
    font-size: 1.8rem;
  }
  .contact {
    padding: 2rem 0;
    text-align: center;
  }
  
  .contact-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 1rem auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-btn {
    padding: 1rem 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #ddd;
  }
}
